/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html 



::-moz-selection {
    background: #B3B643;
    text-shadow: none;
}

::selection {
    background: #B3B643;
    text-shadow: none;
}



/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-size: 12px;
    font-family: arial;
}

.onepcssgrid-1200 {
    margin: 0 auto;
    padding: 0 0 0 1%;
}

.onepcssgrid-1200 {
    max-width: 1220px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #746B08;
}


.site_header {
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #FFBBC8;
    border-bottom: 1px solid #746B08;

}

h1 {
    width: 100%;
    margin: 0;
    padding: 1%;
    font-family: 'IM Fell French Canon' serif;
    font-weight: 400;
    font-style: italic;
    font-size: 5em;
    text-align: center;
    color: #746B08;
}


.background_image {
    background-image: url("../images/macarons_image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: auto;
    min-height: 300px;
    padding: 0;     
}

.nav_menu {
    background-color: #B3B643;
    border-top: 1px solid white; 
    border-bottom: 1px solid white;
}

ul {
    margin: 0 0 0 4.5% ;
}


li {
    text-decoration: none;
    display: inline-block;
    padding: 1% 2% 0 2%;
    
}

h3 {
    font-family: 'Papyrus';
    font-size: 2.5em;
    text-align: center;
    line-height: .75em;
}

p {
    font-size: 1.25em;
     color: #746B08;
 }

.footer {
    background-color: #FFBBC8;
    margin 0;
    padding-left: 43%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid #746B08;
}



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width: 1180px) {
    li {
        display: block !important;
        float: none;
    }
}

@media screen and (max-width: 1028px) {
    ul {
        margin: 1% 0 1% 3%;
        padding: 0;
}

    li {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.25em;
        padding: 4% 0 4% 0;
    }

    h3 {
        font-size: 1.75em;
    }

    ul {
    padding: 0;
}

    li {
        padding: 0;
    }

    .footer {
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2em;
        padding: 4% 0 4% 0;
    }

    h3 {
        font-size:: 1em;
    }
}

/* There are no print styles for this page */



    
